Package: pbuilder-scripts
Version: 0.1
Architecture: all
Maintainer: Alf Gaida <agaida@siduction.org>
Installed-Size: 38
Depends: pbuilder, lsb-core
Section: devel
Priority: extra
Homepage: http://
Description: Set of pbuilder helpers
 Some useful description should be added here
