Source: pbuilder-scripts
Section: devel
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Vcs-Git: git://git.siduction.org/code/pbuilder-scripts
Vcs-Browser: http://git.siduction.org/?p=code/pbuilder-scripts.git;a=summary

Package: pbuilder-scripts
Architecture: all
Depends: 
    ${misc:Depends},
    devscripts,
    pbuilder,
    libparse-debcontrol-perl,
    lsb-base,
    libtie-ixhash-perl,
    libio-stringy-perl,
    libexporter-lite-perl,
    eatmydata,
    realpath,
Description: Set of pbuilder helpers
 Some useful description should be added here
